/*selects every h1*/
h1{
	color:purple;
	bor
}

/*selects every forms*/
form{
	color: green;
}

/*selects every buttons*/
button{
	color: rgb(5,100,78);
}

/*selects every paragraph*/
p{
	color: purple;
	background-color: yellow;
	font-family: Ariel;

}

/*selects whole body*/
body{
	background-color: white;

}

/*this way selects or targets one individual element*/
#choose{
	background-color: green;
}

.cross{
	text-decoration: underline;
}

/*Star*/
/**{
	border: 1px solid lightgrey;
	/*text-align: center;*/
}*/

/*descendent selectors*/
li a{
	color: red;
}

a[href="https://www.google.com"]{
	color: green;
}

ul:nth-of-type(odd){
	background-color: yellow
}
span{
	font-weight:bold;
}

td{
	width: 100px;
	height: 100px;
}

.vertical{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.horizontal{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/*table {
	margin: auto;
}*/
img{
	width:45%;
	float: left;
	margin: 1.66%;
}

h2{
	font-family: Sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 8px solid #f1f1f1;
	width: 45%;
	padding-bottom: 6px;
}
