/*selects every h1*/
h1{
	color:purple;
	bor
}

/*selects every forms*/
form{
	color: green;
}

/*selects every buttons*/
button{
	color: rgb(5,100,78);
}

/*selects every paragraph*/
p{
	color: purple;
	background-color: yellow;
	font-family: Ariel;
}

/*selects whole body*/
body{
	background-color: white;

}

/*this way selects or targets one individual element*/
#choose{
	background-color: green;
}

.cross{
	text-decoration: underline;
}

/*Star*/
*{
	border: 1px solid lightgrey;
	/*text-align: center;*/
}

/*descendent selectors*/
li a{
	color: red;
}

a[href="https://www.google.com"]{
	color: green;
}

ul:nth-of-type(odd){
	background-color: yellow
}
span{
	font-weight:bold;
}
